body {
    padding: 20px;
    background-color: #1c202d; /* Fondo oscuro */
    font-family: Arial, sans-serif;
    color: #ffffff; /* Texto en color blanco */
}

.container {
    margin-top: 50px;
    text-align: center;
    background-color: #1c202d; /* Fondo oscuro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.page-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff; /* Color de título en blanco */
    position: relative;
}

.page-title::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #ffffff; /* Color de línea en blanco */
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.menu-item {
    border: 2px solid #1565c0;
    padding: 20px;
    border-radius: 10px;
    background-color: #1565c0; /* Fondo azul */
    transition: transform 0.3s;
    text-decoration: none;
    color: #fff; /* Texto en color blanco */
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.menu-item:hover {
    transform: scale(1.05);
    text-decoration: none;
    background-color: #0d4b8e; /* Color de fondo más oscuro al pasar el mouse */
}
